:root {
    --uni-color-red: rgb(165,30,55);
    --uni-color-gold: rgb(180,160,105);
    --uni-color-black: rgb(50,65,75);
    --uni-color-red-highlight: rgb(200,80,60);
    --uni-color-gold-highlight: rgb(215,180,105);
    --uni-color-black-highlight: rgb(65,90,140);
    --uni-color-red-hover: rgb(122, 22, 41);
    --uni-color-gold-hover: rgb(145, 105, 70);
    --uni-color-black-hover: rgb(86, 92, 101);
    --uni-font: 'Open Sans',Arial,Helvetica;
    --uni-font-color: var(--uni-color-black);
    --uni-font-color-muted: rgb(86, 92, 101);
    --secondary-color: #f3f3f3;
    --font-size-paragraph: 1.2em;
    --font-size-h1: 40px;
    --font-size-h2: 2.5em;
}
body {
    margin: 0 !important;
}
html {
    padding: 0 !important;
}